@import "../index.scss";

.dragline {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    z-index: 2;
    background-color: #e5e5e5;
    cursor: pointer;
    transition: all .3s;
}

.dragline::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    left: -3px;
    top: 0;
    z-index: -1;
}

.dragline:hover {
    cursor: col-resize;
    background-color: $mainColor;
    width: 2px;
}
