html, body {
  margin: 0;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

#root {
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.progress {
  height: 4px;
  background-color: #faad14;
  animation: progress linear forwards 5s;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.key {
  padding: 2px 4px;
  background-color: white;
  border: solid 1px #d3d3d3;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgb(217, 217, 217);
  cursor: pointer;
}

.iconfont {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// tooltip 的title
.ant-tooltip-inner {
  font-size: 12px;
}

// select 的 option
.ant-select-item {
  font-size: 12px !important;
  padding: 0 10px!important;;
  min-height: 28px!important;;
  line-height: 28px!important;;
}

.ant-dropdown-menu-item {
  font-size: 12px!important;
  line-height: 20px!important;
}

.ant-slider-mark-text {
  font-size: 12px!important;
}

// popover、popconfirm 的按钮
.ant-popover-buttons > button {
  font-size: 12px!important;
}

.opacity {
  opacity: .1;
  transition: opacity .3s;
}

// 类似于 markdown 的 ``
.code {
  background-color: #f9f2f4;
  color: #c7254e;
  font-size: .9em;
  padding: 0.2em 0.4em;
  margin: 0 0.2rem;
  border-radius: 2px;
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track{
  background-color: rgba(239, 239, 239, 0.5);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(173, 173, 173);
}
::-webkit-scrollbar-corner{
  background-color: rgba(239, 239, 239, 0.5);
}

